In [2]:

import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt 
import seaborn as sns
import pickle

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, f1_score 

from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [3]:
dataset = pd.read_csv("data.csv")
dataset.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

In [4]:
columns  = dataset.columns
for column in columns:
    print(column)

Q1A
Q1I
Q1E
Q2A
Q2I
Q2E
Q3A
Q3I
Q3E
Q4A
Q4I
Q4E
Q5A
Q5I
Q5E
Q6A
Q6I
Q6E
Q7A
Q7I
Q7E
Q8A
Q8I
Q8E
Q9A
Q9I
Q9E
Q10A
Q10I
Q10E
Q11A
Q11I
Q11E
Q12A
Q12I
Q12E
Q13A
Q13I
Q13E
Q14A
Q14I
Q14E
Q15A
Q15I
Q15E
Q16A
Q16I
Q16E
Q17A
Q17I
Q17E
Q18A
Q18I
Q18E
Q19A
Q19I
Q19E
Q20A
Q20I
Q20E
Q21A
Q21I
Q21E
Q22A
Q22I
Q22E
Q23A
Q23I
Q23E
Q24A
Q24I
Q24E
Q25A
Q25I
Q25E
Q26A
Q26I
Q26E
Q27A
Q27I
Q27E
Q28A
Q28I
Q28E
Q29A
Q29I
Q29E
Q30A
Q30I
Q30E
Q31A
Q31I
Q31E
Q32A
Q32I
Q32E
Q33A
Q33I
Q33E
Q34A
Q34I
Q34E
Q35A
Q35I
Q35E
Q36A
Q36I
Q36E
Q37A
Q37I
Q37E
Q38A
Q38I
Q38E
Q39A
Q39I
Q39E
Q40A
Q40I
Q40E
Q41A
Q41I
Q41E
Q42A
Q42I
Q42E
country
source
introelapse
testelapse
surveyelapse
TIPI1
TIPI2
TIPI3
TIPI4
TIPI5
TIPI6
TIPI7
TIPI8
TIPI9
TIPI10
VCL1
VCL2
VCL3
VCL4
VCL5
VCL6
VCL7
VCL8
VCL9
VCL10
VCL11
VCL12
VCL13
VCL14
VCL15
VCL16
education
urban
gender
engnat
age
screensize
uniquenetworklocation
hand
religion
orientation
race
voted
married
familysize
major

In [5]:
pattern = r'^Q\d+A$'
scale_column = [column for column in dataset.columns if re.match(pattern, column)]
# Create a new DataFrame with the extracted columns
extracted_data = dataset[scale_column]
extracted_data

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q33A,Q34A,Q35A,Q36A,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A
0,4,4,2,4,4,4,4,4,2,1,...,2,3,4,4,1,2,4,3,4,4
1,4,1,2,3,4,4,3,4,3,2,...,3,2,2,3,4,2,2,1,2,2
2,3,1,4,1,4,3,1,3,2,4,...,1,4,3,4,4,4,2,2,1,4
3,2,3,2,1,3,3,4,2,3,3,...,2,4,1,1,2,1,3,4,4,2
4,2,2,3,4,4,2,4,4,4,3,...,4,4,3,4,3,3,3,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,1,3,2,3,2,1,3,1,4,...,2,4,1,2,4,4,2,3,1,3
39771,3,4,3,4,3,4,4,4,3,4,...,3,4,3,3,3,4,3,3,3,4
39772,2,1,2,1,1,1,1,1,2,1,...,2,1,1,1,1,1,2,1,1,1
39773,3,1,2,2,3,3,3,4,3,1,...,4,2,3,2,1,2,3,2,4,3
39774,2,1,2,1,4,2,1,1,1,1,...,2,3,2,2,2,4,3,3,1,4

In [6]:
extracted_data.isnull().sum()

Q1A     0
Q2A     0
Q3A     0
Q4A     0
Q5A     0
Q6A     0
Q7A     0
Q8A     0
Q9A     0
Q10A    0
Q11A    0
Q12A    0
Q13A    0
Q14A    0
Q15A    0
Q16A    0
Q17A    0
Q18A    0
Q19A    0
Q20A    0
Q21A    0
Q22A    0
Q23A    0
Q24A    0
Q25A    0
Q26A    0
Q27A    0
Q28A    0
Q29A    0
Q30A    0
Q31A    0
Q32A    0
Q33A    0
Q34A    0
Q35A    0
Q36A    0
Q37A    0
Q38A    0
Q39A    0
Q40A    0
Q41A    0
Q42A    0
dtype: int64

In [7]:
def sub(data):
    return data.subtract(1,axis=1)
regularized_dataset=sub(extracted_data) 

DASS_keys = {'Depression': [3, 5, 10, 13, 16, 17, 21, 24, 26, 31, 34, 37, 38, 42],
             'Anxiety': [2, 4, 7, 9, 15, 19, 20, 23, 25, 28, 30, 36, 40, 41],
             'Stress': [1, 6, 8, 11, 12, 14, 18, 22, 27, 29, 32, 33, 35, 39]}
Depression_keys = []
for i in DASS_keys["Depression"]:
    Depression_keys.append('Q'+str(i)+'A')
Stress_keys = []
for i in DASS_keys["Stress"]:
    Stress_keys.append('Q'+str(i)+'A')
Anxiety_keys = []
for i in DASS_keys["Anxiety"]:
    Anxiety_keys.append('Q'+str(i)+'A')
depression_dataset= regularized_dataset.filter(Depression_keys)
stress_dataset = regularized_dataset.filter(Stress_keys)
anxiety_dataset = regularized_dataset.filter(Anxiety_keys)

In [8]:
def scores(data):
    col=list(data)
    data['Total_Count']=data[col].sum(axis=1)
    return data
depression_dataset=scores(depression_dataset)
stress_dataset=scores(stress_dataset)
anxiety_dataset=scores(anxiety_dataset)

In [9]:
def condition(x):
    if x<=9:
        return 'Normal'
    if  10<=x<=13:
        return 'Mild'
    if 14<=x<=20:
        return 'Moderate'
    if 21<=x<=27:
        return 'Severe'
    if x>=28:
        return 'Extremely Severe'

depression_dataset['Label']=depression_dataset['Total_Count'].apply(condition)
final_depression_dataset = depression_dataset.drop(columns=['Total_Count'])
final_depression_dataset.head(10)

,Q3A,Q5A,Q10A,Q13A,Q16A,Q17A,Q21A,Q24A,Q26A,Q31A,Q34A,Q37A,Q38A,Q42A,Label
0,1,3,0,3,3,2,0,3,3,3,2,0,1,3,Severe
1,1,3,1,3,2,3,1,1,2,1,1,3,1,1,Severe
2,3,3,3,3,3,3,3,3,0,3,3,3,3,3,Extremely Severe
3,1,2,2,0,1,2,0,0,1,2,3,1,0,1,Moderate
4,2,3,2,3,2,3,2,1,3,2,3,2,2,2,Extremely Severe
5,1,2,1,0,3,1,0,1,0,1,0,1,1,1,Mild
6,1,3,3,1,3,1,3,2,1,3,2,3,3,2,Extremely Severe
7,0,2,0,0,0,0,0,0,1,0,0,0,0,1,Normal
8,2,2,2,3,3,2,2,2,3,3,3,3,2,3,Extremely Severe
9,3,3,3,3,3,3,3,3,3,3,3,3,3,3,Extremely Severe

In [11]:
def condition(x):
    if x<=14:
        return 'Normal'
    if  15<=x<=18:
        return 'Mild'
    if 19<=x<=25:
        return 'Moderate'
    if 26<=x<=33:
        return 'Severe'
    if x>=34:
        return 'Extremely Severe'

stress_dataset['Label']=stress_dataset['Total_Count'].apply(condition)
final_stress_dataset = stress_dataset.drop(columns=['Total_Count'])
final_stress_dataset.head(10)

,Q1A,Q6A,Q8A,Q11A,Q12A,Q14A,Q18A,Q22A,Q27A,Q29A,Q32A,Q33A,Q35A,Q39A,Label
0,3,3,3,3,3,3,3,3,3,3,3,1,3,3,Extremely Severe
1,3,3,3,1,1,3,1,2,2,2,2,2,1,1,Severe
2,2,2,2,1,0,0,1,2,1,1,2,0,2,1,Mild
3,1,2,1,1,0,3,0,0,3,2,0,1,0,2,Mild
4,1,1,3,1,3,3,3,2,1,1,3,3,2,2,Severe
5,0,0,2,0,1,2,0,0,0,2,0,3,2,0,Normal
6,0,0,2,0,1,1,1,0,0,1,1,3,1,3,Normal
7,0,1,0,1,0,1,1,0,1,0,0,0,0,1,Normal
8,3,3,3,3,3,2,3,3,1,3,1,3,1,1,Severe
9,2,3,3,3,3,3,0,2,3,3,1,3,2,3,Extremely Severe

In [12]:
#Declaring function to assign the label
def condition(x):
    if x<=7:
        return 'Normal'
    if  8<=x<=9:
        return 'Mild'
    if 10<=x<=14:
        return 'Moderate'
    if 15<=x<=19:
        return 'Severe'
    if x>19:
        return 'Extremely Severe'

#Apply the condition and drop the "Total_Count" column
anxiety_dataset['Label']=anxiety_dataset['Total_Count'].apply(condition)
final_anxiety_dataset = anxiety_dataset.drop(columns=['Total_Count'])
final_anxiety_dataset.head(10)

,Q2A,Q4A,Q7A,Q9A,Q15A,Q19A,Q20A,Q23A,Q25A,Q28A,Q30A,Q36A,Q40A,Q41A,Label
0,3,3,3,1,3,2,2,3,3,2,1,3,2,3,Extremely Severe
1,0,2,2,2,2,0,0,0,1,3,2,2,0,1,Severe
2,0,0,0,1,3,1,0,1,1,0,1,3,1,0,Moderate
3,2,0,3,2,1,0,1,0,0,0,2,0,3,3,Severe
4,1,3,3,3,3,3,3,3,3,3,3,3,3,3,Extremely Severe
5,0,0,0,2,1,0,1,0,0,0,1,1,0,0,Normal
6,0,2,2,2,2,0,2,2,1,1,2,1,1,1,Severe
7,0,0,1,0,1,0,1,0,1,0,0,0,0,0,Normal
8,3,3,3,3,3,3,3,3,1,3,2,3,3,3,Extremely Severe
9,1,0,2,3,1,3,3,0,2,3,2,3,3,2,Extremely Severe

In [13]:
depression_labels = final_depression_dataset["Label"]
depression_X = final_depression_dataset.drop(columns=["Label"])

In [14]:
encoder = LabelEncoder()
encoded_depression_label = encoder.fit_transform(depression_labels)

desired_label_values = ['Extremely Severe', 'Severe', 'Moderate', 'Mild', 'Normal']
encoder.classes_ = desired_label_values

In [15]:
dict(zip(encoder.classes_,range(len(encoder.classes_))))

{'Extremely Severe': 0, 'Severe': 1, 'Moderate': 2, 'Mild': 3, 'Normal': 4}

In [17]:
dp_X_Train, dp_X_Test, dp_Y_Train, dp_Y_Test = train_test_split(depression_X, encoded_depression_label, test_size=0.3, random_state= 30)

In [18]:
stress_labels = final_stress_dataset["Label"]
stress_X = final_stress_dataset.drop(columns=["Label"])

In [19]:
encoder = LabelEncoder()
encoded_stress_label = encoder.fit_transform(stress_labels)

desired_label_values = ['Extremely Severe', 'Severe', 'Moderate', 'Mild', 'Normal']
encoder.classes_ = desired_label_values

In [20]:
dict(zip(encoder.classes_,range(len(encoder.classes_))))

{'Extremely Severe': 0, 'Severe': 1, 'Moderate': 2, 'Mild': 3, 'Normal': 4}

In [21]:
st_X_Train, st_X_Test, st_Y_Train, st_Y_Test = train_test_split(stress_X, encoded_stress_label, test_size=0.3, random_state= 30)

In [24]:
anxiety_labels = final_anxiety_dataset["Label"]
anxiety_X = final_anxiety_dataset.drop(columns=["Label"])

In [25]:
encoder = LabelEncoder()
encoded_anxiety_label = encoder.fit_transform(anxiety_labels)

desired_label_values = ['Extremely Severe', 'Severe', 'Moderate', 'Mild', 'Normal']
encoder.classes_ = desired_label_values

In [26]:
dict(zip(encoder.classes_,range(len(encoder.classes_))))

{'Extremely Severe': 0, 'Severe': 1, 'Moderate': 2, 'Mild': 3, 'Normal': 4}

In [27]:
ax_X_Train, ax_X_Test, ax_Y_Train, ax_Y_Test = train_test_split(anxiety_X, encoded_anxiety_label, test_size=0.3, random_state= 30)

In [ ]:
import joblib
models = {
    'KNN': KNeighborsClassifier(n_neighbors=10),
    'RandomForest': RandomForestClassifier(random_state=30),
    'DecisionTree': DecisionTreeClassifier(random_state=30, max_depth=20),
    'SVM': SVC(C=10, kernel='rbf', gamma=0.2, random_state=24)
}

best_model = None
best_accuracy = 0
best_model_name = ''

for name, model in models.items():
    model.fit(dp_X_Train, dp_Y_Train)
    y_pred = model.predict(dp_X_Test)
    acc = accuracy_score(dp_Y_Test, y_pred)
    print(f"{name} Accuracy: {acc:.4f}")
    
    if acc > best_accuracy:
        best_accuracy = acc
        best_model = model
        best_model_name = name

print(f"\nBest model: {best_model_name} with accuracy: {best_accuracy:.4f}")

joblib.dump(best_model, f'dp_best_model.pkl')
print(f"Saved best model as 'dp_best_model.pkl'")

KNN Accuracy: 0.9263
RandomForest Accuracy: 0.9300
DecisionTree Accuracy: 0.8317
SVM Accuracy: 0.9907

Best model: SVM with accuracy: 0.9907
Saved best model as 'dp_best_model.pkl'

In [ ]:
import joblib
models = {
    'KNN': KNeighborsClassifier(n_neighbors=10),
    'RandomForest': RandomForestClassifier(random_state=30),
    'DecisionTree': DecisionTreeClassifier(random_state=30, max_depth=20),
    'SVM': SVC(C=10, kernel='rbf', gamma=0.2, random_state=24)
}

best_model = None
best_accuracy = 0
best_model_name = ''

for name, model in models.items():
    model.fit(st_X_Train, st_Y_Train)
    y_pred = model.predict(st_X_Test)
    acc = accuracy_score(st_Y_Test, y_pred)
    print(f"{name} Accuracy: {acc:.4f}")
    
    if acc > best_accuracy:
        best_accuracy = acc
        best_model = model
        best_model_name = name

print(f"\nBest model: {best_model_name} with accuracy: {best_accuracy:.4f}")

joblib.dump(best_model, f'st_best_model.pkl')
print(f"Saved best model as 'st_best_model.pkl'")

KNN Accuracy: 0.8983
RandomForest Accuracy: 0.9117
DecisionTree Accuracy: 0.7863
SVM Accuracy: 0.9879

Best model: SVM with accuracy: 0.9879
Saved best model as 'st_best_model.pkl'

In [ ]:
import joblib
models = {
    'KNN': KNeighborsClassifier(n_neighbors=10),
    'RandomForest': RandomForestClassifier(random_state=30),
    'DecisionTree': DecisionTreeClassifier(random_state=30, max_depth=20),
    'SVM': SVC(C=10, kernel='rbf', gamma=0.2, random_state=24)
}

best_model = None
best_accuracy = 0
best_model_name = ''

for name, model in models.items():
    model.fit(ax_X_Train, ax_Y_Train)
    y_pred = model.predict(ax_X_Test)
    acc = accuracy_score(ax_Y_Test, y_pred)
    print(f"{name} Accuracy: {acc:.4f}")
    
    if acc > best_accuracy:
        best_accuracy = acc
        best_model = model
        best_model_name = name

print(f"\nBest model: {best_model_name} with accuracy: {best_accuracy:.4f}")

joblib.dump(best_model, f'ax_best_model.pkl')
print(f"Saved best model as 'ax_best_model.pkl'")

KNN Accuracy: 0.8727
RandomForest Accuracy: 0.8814
DecisionTree Accuracy: 0.7731
SVM Accuracy: 0.9881

Best model: SVM with accuracy: 0.9881
Saved best model as 'ax_best_model.pkl'